<!-- Importando todo arquivo base.html -->

{% extends "base.html" %}

<!-- modificando o title -->
{% block title %}
<title>
  Ajouter d'argent - Gerence de la caisse
</title>
{% endblock %}

<!-- Mundando link -->
{% block link %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style/ajuntar.css') }}?v=1">
{% endblock %}

<!-- Mudando o <h1> -->
{% block h1 %}
    <h1>Ajoute Argent</h1>
{% endblock %}

{% block formulario %}
<form action="{{ url_for('ajuntar') }}" method="POST" class="form-ajout">
     <label class="form-title">Choisir la devise</label>
     <div class="radio-group">
          <label class="radio-label">
                 <input type="radio" name="din" value="dolar" id="dolar" required>
                 <span>Dolar $</span>
          </label>
          <label class="radio-label">
               <input type="radio" name="din" value="francs" id="francs" required>
               <span>Francs Fc</span>
          </label>
      </div>
    
      <input type="number" placeholder="Montant" name="mont" required class="input-field">
      <input type="text" placeholder="Description" name="libelle" required class="input-field">
    
      <button type="submit" class="btn">Envoyer</button>
</form>
{% endblock %}

{% block resposta %}
    {% if response %}
        <p class="alert"> {{ response }}</p>
    {% endif %}
{% endblock %}

